# Node.js dependencies
node_modules/

# Tailwind CLI binary
tailwindcss

# Build output
public/css/output.css
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS system files
.DS_Store
Thumbs.db

# Env files
.env

# IDE/editor settings
.vscode/
.idea/
